body{
    display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: blue;
align-items: center;


}
div {
    margin-top: 10vh;
 flex-direction: column;
 align-items: center;
 flex-wrap: wrap;
 display: flex; 
 background-color:white ;
 border-radius: 0.8em;
 width: 20em;
 height:28em; 
    
}    
img {
    justify-content: center;
    width: 9em;
    height: 8em;
    border-radius: 0.8em;
    
}

h2 {
    font-family: kanit;
    font-size: 3vh;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
   
}
h3 {
    font-size: 2vh;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 20;
}



  /*
  @media screen and (max-width: 375px)*/